In [6]:
# Data fetching library
import requests as req
# used below: response = res

# Data manipulation library
import pandas as pd

In [7]:
# Use a pandas dataframe to store data you want to query with
# Later, we'll show how to upload a CSV to a DataFrame, 
# and then export the results back to a CSV with the additional data
locations = pd.DataFrame({"latitude":[0.3515602939922709],
                          "longitude": [23.5546875]}, 
                          index = ["Congo"])

locations

       latitude  longitude
Congo   0.35156  23.554688

In [8]:
# Pick a dataset name, table_name, and rw_id
dataset = 'Percentage of Urban Population with Access to Electricity'
table_name = 'soc_042_percentage_urban_population_access_electricity'
rw_id = '2e8b2cc0-bac3-4d01-b714-8943ff99347d'

# Construct a query and send it to RW API
## Build SQL for query
congo = locations.loc["Congo"]
congo_geom = "ST_GeomFromText('POINT({} {})', 4326)".format(congo.longitude, congo.latitude)

sql = "".join(["SELECT * FROM {} WHERE ",
"ST_Intersects({}, ",
"{}.the_geom)"])

query_sql_congo = sql.format(table_name, congo_geom, table_name)

## Construct Query
# This query_base is the key to accessing data from RW
# It requires a dataset's rw_id and an SQL query
query_base = "https://api.resourcewatch.org/v1/query/{}?sql={}"
query_congo = query_base.format(rw_id, query_sql_congo)

## Get results
res_congo = req.get(query_congo)

congo_data =  res_congo.json()["data"][0]["yr_2014"]

locations.loc["Congo", "Urban Electricity Access"] = congo_data

locations

       latitude  longitude  Urban Electricity Access
Congo   0.35156  23.554688                      42.0